.banner{
    background-color: $color_navy-blue;
    padding: 2rem 0;
    .budget-entry{
        width: 64%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @include respond-mediaQuery(tab-port){
            display: block;
        }
        &__type,
        &__description,
        &__value{
            height: 3.5rem;
            padding: 0.5rem 1rem;
            border: none;
            outline: none;
            font-size: 1.4rem;
            color: $color_grey-dark;
            @include border-radius-sm;
            border: 1px solid $color_grey-dark;

            @include respond-mediaQuery(tab-port){
                margin: 0 auto 1rem;
                display: block;
                width: 80% !important;
               
            }
        }
        &__button{
            @include respond-mediaQuery(tab-port){
                margin: 0 auto 1rem;
                display: block;
               
            }

        }


        &__type{}
        &__description{
        width: 30rem;
        }
        &__value{
            width: 10rem;
            @include respond-mediaQuery(tab-port){
                margin-bottom: 3rem;
            }
        }
        &__button{
            color: $color_white;
            padding: 0.5rem;
            border: 1px solid $color_white;
            @include border-radius-50percent;
            cursor: pointer;
            @include transition-delay-sm;

            &:hover{
                opacity: 0.7;
            }
        }

    }
}