.main-body{
   
    padding: 4rem 0;
    overflow:hidden;
    .budget-wrapper{
        display: flex;
        justify-content: space-between;

    }
    
    .budget__income-list,
    .budget__expense-list{
        color: $color_grey-dark;
        width: 50%;
        li.budget__list{
            width: 95%;
            position: relative;
            border-bottom: 1px solid $color_grey;
            padding: 1rem 1rem;
            display: flex;
            justify-content: space-between;

           
            &:nth-child(odd){
                background: $color_grey-light;

                .del_icon{
                    background: $color_grey-light;
                }
            }
            .del_icon {
                position: absolute;
                cursor: pointer;
                right: 1rem;
                background: $color_white;
                padding: 0.2rem;
                border: 1px solid;
                visibility: hidden;
                z-index: 2000;
                @include border-radius-50percent ;         
             }
             &:hover>{
                .expense__amount-wrapper{
                    padding-right: 3rem;
                }
                .del_icon{
                    visibility: visible;
                }
                .budget__list-percentage{
                    opacity: 1;
                }
                .budget__list-amount{
                    padding-right: 3rem;
                }
             }
           

        }
        .heading-tertiary{
            margin-bottom: 1.5rem;
        }
    }

    .budget__income-list{
        .del_icon {
            color: $color_grey-dark;
            @include transition-delay-sm;
                &:hover{
                    color: $color_red-light;
                }
        }
        .heading-tertiary,
        .budget__list-amount{
            color: $color_navy-blue;
            @include transition-delay-sm;
        }
    }

        .budget__expense-list{
            .expense__amount-wrapper{
                @include transition-delay-sm;
            }
            .del_icon{
                color: $color_red-light;
            }
            .heading-tertiary,
            .budget__list-amount{
                color: $color_red-light;
               
            }
            .budget__list-percentage{
                background: $color_red-light;
                color: #fff;
                padding: 0.3rem 0.5rem;
                font-size: 1.2rem;
                opacity: 0.7;
    
            }
    
    }
    

}