.top-header {
    background-color: $color_white;
    width: 100%;
    padding: 6rem 0 4rem;

    .project-title {
        text-align: center;
    }

    .budget-summary {
        align-items: center;

        &__income,
        &__expense {
            width: 32rem;
            align-items: center;
            padding: 1rem 1.5rem;
            margin: 0 auto 1rem;
            display: flex;
            justify-content: space-between;
        }

        &__income {
            color: $color_white;
            background: $color_navy-blue;
        }

        &__expense {
            color: $color-white;
            background-color: $color_red-light;

            .expense__amount-wrapper {
                position: relative;
            }

            &-percentage {
                position: absolute;
                right: -1rem;
                background: #002347;
                font-size: 1.2rem;
                padding: 0.3rem 0.7rem;
                margin-left: 0.8rem;
                min-width: 3.5rem;
                text-align: center;
                bottom: -3.2rem;
            }
        }

        .available-budget {
            text-align: center;
            margin-bottom: 4.5rem;

            &__title {
                font-size: 1.6rem;
                margin-bottom: 2rem;
                display: inline-block;
                text-transform: uppercase;
            }

            &__amount {
                font-size: 2.5rem;
                font-weight: normal;

            }
        }

    }
}